.navbar-name {
    color: red;
}

.navbar-logo {
    width: 10;
    height: 10;
}
.whatsapp_chatbot {
	background-color:#fff;
    border-radius: 47px;
	width: 80px;
    height: 80px;
	position: fixed;
    bottom: 30px;
    right: 30px; 
	z-index:1;
}